@using System.Web.UI.WebControls
@model IEnumerable<Newtonsoft.Json.Linq.JObject>
@{
    ViewBag.Title = "Config";
}
@{
    var data = ViewBag.config;
    var handlers = ViewBag.handlers;
}

<h2>Configuration Information</h2>
<div>
    <table>
        <tr>
            <td><b>OPD </b></td>
            <td><p type="text" id="opd" size="5" style="margin:10px">@data.OPD</p></td>
        </tr>
        <tr>
            <td><b>Source </b></td>
            <td><p type="text" id="source" size="5" style="margin:10px">@data.source</p></td>
        </tr>
        <tr>
            <td><b>Log Name </b></td>
            <td><p type="text" id="logName" size="5" style="margin:10px">@data.logName</p></td>
        </tr>
        <tr>
            <td><b>ThumbSize</b></td>
            <td><p type="text" id="thumbSize" size="5" style="margin:10px">@data.thumbSize.ToString()</p></td>
        </tr>
        <tr><td><br /></td></tr>
        <tr> <td><b>List of Handlers</b></td></tr>
    </table>
</div>
            @if (ViewBag.handlers != null)
            {
                foreach (var hand in ViewBag.handlers)
                {
                    <li>
                        <button type="button" id="@hand.ToString()" onclick="btnRemove(id)" style="margin: 10px">@hand.ToString()</button>
                    </li>
                }
            }




<script>
    function btnRemove(handler) {
        //going to handler removal page if button was clicked
        var url = '@Url.Action("HandlerRemoval", "Main")?path=' + handler;
        window.location.href = url; 
    }
</script>