@model IEnumerable<ImageServiceWeb.Models.Student>
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div>
    <h2>Students</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
            </tr>
        }

    </table>
    <h2>Service Base Information</h2>
    <table>
        <tr>
            <td>Service Status:  </td>
        </tr>
        <tr>
        <td><p type="text" id="ServiceStat" size="5" style="margin:20px"></p></td>
        </tr>
        <tr>
            <td>Number of Images:  </td>
        </tr>
        <tr>
            <td><p type="text" id="imgNum" size="5" style="margin:20px"></p></td>
        </tr>
    </table>
     <button type="button" id="btnStat" style="margin:10px">Get Service Info</button>

</div>

<script>
    $("#btnStat").click(function () {
        $.getJSON("@Url.Action("GetStatus")", function (data) {
            $("#ServiceStat").text(data.Status);
            $("#imgNum").text(data.Number);
        });
    });

</script>