@model IEnumerable<ImageServiceWeb.Models.Entry>

@{
    ViewBag.Title = "Log";
}

<h2>Log</h2>

<div>
    <div>
        <h2>Filter Log entry Types</h2>
        <p> Requested Type: </p>
        <input type="text" id="txtType" size="5" />
        <input type="button" id="btnSearch" value="Search" />
        <ul id="lstProducts"></ul>
    </div>

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
    }
</table>

<script>
    $("#btnSearch").click(function () {
        @Url.Action("reqDetails", "Main", new { id = Request["txtType"] })
    });

</script>

